.search-results {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}

.pagination {
  margin-top: 3rem;
  padding: 0 3.5rem;
  display: flex;
  justify-content: space-between;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
    }
    &--actual {
      float: none;
      justify-content: center;
    }
    &--next {
      float: right;
    }
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }
}

.resultsBtns {
  padding: 1.5rem 3.25rem;
  margin: 4px 0 8px;
  display: flex;
  justify-content: space-around;
  gap: 8px;
}

.btn-sort {
  width: auto;
}
